/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode/*
captainhook.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
docker-compose.override.yml
.gitconfig
*.code-workspace
/.vscode/settings.json
public/js/**
!/.vscode/launch.json.dist
!/.vscode/launch.json.docker.dist
.env.docker.bak
public/docs/api-docs.json
public/docs/voyager-api-docs.json
*.patch
composer.dev.json
composer.json.dist
linked.json
